<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/vue.js"></script>
  <title>V-IF - Vue</title>
</head>
<body>
  <div id="app">
    <!-- <template v-if="logado">
      <p>Usuário logado.</p>
      <button @click="logado = !logado">Deslogar</button>
    </template>
    <template v-else>
        <p>Usuário deslogado.</p>
        <button @click="logado = !logado">logar</button>
    </template> -->
    <p v-if="logado">Usuário deslogado</p>
    <p v-show="logado">Usuário deslogado</p>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        logado: true
      }
    });
  </script>
</body>
</html>