body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul { list-style:  none; }

:root {
  --color-primary: #222;
  --color-secondary: #fb5;
  --subtitle-color: #e54;
  --bg-color: #faf6ed;
}

body {
  background: var(--bg-color);
  color: #222;
  -webkit-font-smoothing: antialiased;
} 

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--color-secondary);
}
  .menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }

  .menu li a {
    display: block;
    padding: 10px;
    margin-right: 10px;
    color: var(--color-primary);
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: .1em;
  }

  .grid-section {
    grid-column: 2 / 4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    grid-gap: 20px;
    margin-bottom: 4rem;
  }

  .titulo {
    font-family: 'Playfair Display SC', Georgia;
    font-size: 6rem;
    line-height: 1;
    font-weight: normal;
    margin-bottom: 1rem;
    grid-column: 1 / 4;
  }

  .animais h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: var(--subtitle-color);
  } .animais h2::before {
      content: '';
      display: inline-block;
      width: 40px;
      height: 10px;
      margin-right: 10px;
      background: var(--color-secondary);
    }

  .animais p {
    font-family:  Helvetica, Arial, sans-serif;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  
  .animais-lista {
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;
  } .animais-lista::-webkit-scrollbar {
      width: 18px;
    }

    .animais-lista::-webkit-scrollbar-thumb {
      background: var(--color-secondary);
      border-left: 4px solid var(--bg-color);
      border-right: 4px solid var(--bg-color);
    }

    .animais-lista::-webkit-scrollbar-track {
      background: var(--bg-color);
    }

    .animais-lista li {
      cursor: pointer;
    }

.animais-descricao {
  grid-column: 3;
} .animais-descricao section {
    margin-bottom: 3rem;
  }

.faq-lista {
  grid-column: 2 / 4;
} .faq-lista dt {
    font-family:  'IBM Plex Mono', monospace;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: var(--subtitle-color);
  } .faq-lista dt::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 10px;
      margin-right: 10px;
      background: var(--color-secondary);
    }

  .faq-lista dd {
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: .5rem;
    margin-left: 30px;
  }

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
} .dados li {
    margin-bottom: 1rem;
    font-family: Helvetica, Arial, sans-serif;
  } .dados li::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 10px;
      margin-right: 10px;
      background: var(--color-secondary);
    }

.copy {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background: var(--color-secondary);
} .copy p {
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
  }

@media only screen and (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }

  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }

  .animais-lista {
    grid-column: 1;
  }

  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1 / 3; 
  }

  .grid-section h1 { font-size: 3rem; }
  .menu{ margin-top: 0; }
  .copy { margin-bottom: 0; }

}

.js [data-tab="content"] section {
  display: none;
}

[data-tab="content"] section.ativo {
  display: block;
  animation: show .5s forwards;
}

[data-tab="content"] section.ativo.show-right {
  display: block;
  animation: show-right .5s forwards;
}

[data-tab="content"] section.ativo.show-down {
  display: block;
  animation: show-down .5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js [data-anime="accordion"] dd {
  display: none;
}

[data-anime="accordion"] dt::after {
  content: 'тоз';
  margin-left: 10px;
}

[data-anime="accordion"] dt.ativo::after {
  content: 'тое';
}

.js [data-anime="accordion"] dd.ativo {
  display: block;
  animation: slideDown 1s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 200px;
  }
}

.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .3s;
}

.js [data-anime="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[data-semana].aberto::after {
  background: #3f4;
}

[data-semana]::after {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  background: #e54;
  border-radius: 50%;
  margin-left: 4px;
  border: 2px solid #000;
}