.menu {
  margin-top: 120px;
  margin-bottom: 120px;
  @include device(small) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.menu-item {
  margin-bottom: 60px;
  h2 {
    @include tipografia-2(24);
    margin-bottom: 1em;
  }
  li {
    @include tipografia-1(18);
    line-height: em(35, 18);
    span {
      font-family: $fonte-2;
      color: $bege-escuro;
      display: inline-block;
      width: 70px;
      text-align: right;
      margin-right: 10px;
      margin-left: -80px;
      @include device(small) {
        margin-left: 0;
        width: auto;
      }
    }
  }
  img {
    border-radius: 50%;
    border: 10px solid $bege-medio;
    position: absolute;
    right: 0;
    margin-top: 40px;
    @include device(large) {
      right: 120px;
    }
    @include device(medium) {
      width: 160px;
      right: 20px;
    }
    @include device(small) {
      width: 120px;
      margin-top: 0;
    }
  }
}