/* Reset */
body, p, h1, ul, li{
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #252525;
  background: #e7e4d8;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  background: #d6d3c8;
  padding: 20px;
}

.header::before, .header::after {
  content: '';
  display: table;
  clear: both;
}

.header-logo {
  float: left;
}

.header-menu ul {
  float: right;
}

.header-menu li {
  display: inline-block;
}

.header-menu li a {
  color: #252525;
  font-size: 1.125em; /* 18px */
  padding: 0 10px;
}

.header-menu li:first-child a {
  padding-left: 0;
}

@media (max-width: 739px) {
  .header-logo {
    float: none;
  }
  .header-menu ul {
    float: none;
    margin-top: 10px;
  }
}

/* Main */
.main-container {
  display: flex;
}

@media (max-width: 739px) {
  .main-container {
    flex-direction: column
  }
}

/* Sidebar nav */
.side-nav {
  width: 300px;
  background: #252525;
}

.side-nav li a {
  display: block;
  color: #fff;
  border-bottom: 2px solid #484846;
  font-size: 1.125em; /* 18px */
  padding: 20px;
}

.side-nav li a::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 5px;
  margin-right: 15px;
  background-image: url('../img/icones.png');
}

.nav-contabilidade::before { background-position: 0 0; }
.nav-produtos::before { background-position: 0 calc(-24px * 1); }
.nav-paginas::before { background-position: 0 calc(-24px * 2); }
.nav-plugins::before { background-position: 0 calc(-24px * 3); }
.nav-formularios::before { background-position: 0 calc(-24px * 4); }
.nav-hospedagens::before { background-position: 0 calc(-24px * 5); }

@media (min-width: 740px) and (max-width: 980px) {
  .side-nav {
    width: 200px;
  }
}

@media (max-width: 739px) {
  .side-nav {
    margin: 20px 0 0 20px;
    background: none;
    width: auto;
  }
  .side-nav li {
    display: inline-block;
  }
  .side-nav li a::before {
    display: block;
    margin: 0;
    top: 0;
  }
  .side-nav li a {
    width: 44px;
    height: 44px;
    overflow: hidden;
    padding: 10px;
    border: none;
    color: #252525;
    background: #252525;
    border-radius: 6px;
  }
}

/* Produtos */
.produtos {
  width: calc(100% - 300px);
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}

.produtos header::before, .produtos header::after {
  content: '';
  display: table;
  clear: both;
}

.produtos h1 {
  font-size: 2.25em; /* 36px */
  float: left;
}

.adicionar-produtos {
  background: #c17139;
  color: #e7e4d8;
  font-size: 1.125em; /* 18px */
  font-family: Courier, monospace;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 4px;
  float: right;
  text-align: center;
}

.produtos-item {
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.35);
  margin-top: 20px;
  position: relative;
}

.produtos-item::after , .produtos-item::before {
  content: '';
  display: table;
  clear: both;
}

.produtos-item img {
  float: left;
}

.produtos-item a {
  width: 24px;
  height: 24px;
  text-indent: -200px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 20px;
  background: url('../img/edit.svg') no-repeat;
}

.produtos-item a:hover {
  background: url('../img/edit-hover.svg') no-repeat;
}

.produtos-item ul {
  float: left;
  padding: 0 20px;
  width: calc(100% - 140px);
}

.produtos-item li {
  font-family: Courier, monospace;
  font-size: 1.125em; /* 18px */
  border-bottom: 1px solid #e7e4d8;
  padding: 10px 0;
}

.produtos-item li:last-child {
  border: none;
}

.produtos-item span {
  font-weight: bold;
  display: inline-block;
  width: 70px;
}

@media (min-width: 740px) and (max-width: 980px) {
  .produtos {
    width: calc(100% - 200px);
  }
}

@media (max-width: 739px) {
  .produtos {
    width: 100%;
  }
  .produtos h1, .adicionar-produtos, .produtos-item img {
    float: none;
  }
  .adicionar-produtos {
    display: inline-block;
    margin: 10px 0;
  }
  .produtos-item ul {
    float: none;
    width: 100%;
  }
}

/* Footer */
.footer {
  background: #d6d3c8;
  text-align: center;
  padding: 60px 0;
  font-size: 1.125em;
}