.interna_portfolio {
	background: url("../img/bg-portfolio.jpg") no-repeat center;
	background-size: cover;
}

.quote_clientes {
	padding: 60px 0;
	max-width: 460px;
	margin: 0 auto;
}

.quote_clientes p{
	text-align: center;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	line-height: 25px;
	font-style: italic;
	margin-bottom: 20px;
}

.quote_clientes cite {
	font-size: 18px;
	font-weight: bold;
	float: right;
	font-style: normal;
}

/*Plugin de Slide*/

.rslides, .rslides_portfolio {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li, .rslides_portfolio li{
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child, .rslides_portfolio li:first-child{
	position: relative;
	display: block;
	float: left;
}

.rslides img, .rslides_portfolio img {
	display: block;
	height: auto;
	width: 100%;
	border: 0;
}

.rslides_tabs {
	text-align: center;
	margin-top: 14px;
}

.rslides_tabs li{
	display: inline;
	margin: 0 5px;
}

.rslides_tabs li a{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #1d1d1d;
	color: #1d1d1d;
	border-radius: 20px;
	overflow: hidden;
	text-indent: -200px;
}

.rslides_tabs li a:hover, .rslides_tabs li.rslides_here a {
	background: $amarelo;
	color: $amarelo;
}