<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./vue.js"></script>
  <link rel="stylesheet" href="./style.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">

  <title>Techno</title>
</head>
<body>
  <div id="app">
    <header class="header">
      <img class="logo" src="./assets/techno.svg" alt="techno">
      <div class="carrinho_menu" @click="carrinhoAtivo = true">
        {{carrinhoTotal | numeroParaPreco}} | {{carrinho.length}}
      </div>
    </header>

    <section class="produtos">
      <div @click="abrirModal(produto.id)" v-for="produto in produtos" class="produto" :key="produto.id">
        <img class="produto_img" :src="produto.img" :alt="produto">
        <div class="produto_info">
          <span class="produto_preco">{{produto.preco | numeroParaPreco}}</span>
          <h2 class="produto_titulo">{{produto.nome}}</h2>
        </div>
      </div>
    </section>

    <section class="modal" v-if="produto" @click="fecharModal">
        <div class="modal_container">
          <div class="modal_img">
            <img :src="produto.img" :alt="produto.nome">
          </div>
          <div class="modal_dados">
            <button @click="produto = false" class="modal_fechar">X</button>
            <span class="modal_preco">{{produto.preco | numeroParaPreco}}</span>
            <h2 class="modal_titulo">{{produto.nome}}</h2>
            <p>{{produto.descricao}}</p>
            <button v-if="produto.estoque > 0" class="modal_btn" @click="adicionarItem">Adicionar Item</button>
            <button v-else class="modal_btn esgotado" disabled>Produto Esgotado</button>
          </div>
          <div class="reviews">
            <h2 class="reviews_subtitulo">Avaliações</h2>
            <ul>
              <li v-for="avaliacao in produto.reviews" class="review">
                <p class="reviews_descricao">{{avaliacao.descricao}}</p>
                <p class="review_usuario">{{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas</p>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <div class="alerta" :class="{ativo: alertaAtivo}">
        <p class="alerta_mensagem">{{mensagemAlerta}}</p>
      </div>

      <section class="carrinho_modal" :class="{ativo: carrinhoAtivo}" @click="clickForaCarrinho">
        <div class="carrinho_container">
          <button class="carrinho_fechar" @click="carrinhoAtivo = false">X</button>
          <h2 class="carrinho_titulo">Carrinho</h2>
          <div v-if="carrinho.length > 0">
            <ul class="carrinho_lista">
                <li class="carrinho_item" v-for="(item, index) in carrinho">
                  <p>{{item.nome}}</p>
                  <p class="carrinho_preco">{{item.preco | numeroParaPreco}}</p>
                  <button class="carrinho_remover" @click="removerItem(index)">X</button>
                </li>
              </ul>
              <p class="carrinho_total">{{carrinhoTotal | numeroParaPreco}}</p>
              <button class="carrinho_finalizar">Finalizar Compra</button>
          </div>
          <p v-else>Carrinho está vazio.</p>
        </div>
      </section>
  </div>

  <script src="./app.js"></script>
</body>
</html>