body, h1, h2, p, ul, li, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* SuperInfo */

.superinfo-bg {
  background: #122ab2;
  color: white;
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo p, .superinfo a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: #fff;
}

/* Menu */

.menu-bg {
  background: #2c70ff;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: #fff;
}

.menu-logo a {
  font-size: 2.25em; /* 36px */
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25em; /* 25px */
  display: block;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}

/* Introducao */

.introducao {
  font-size: 3em; /* 48px */
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px
}

/* Sobre */

.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
  display: flex;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 300px; /* basis 300px, valor minimo para que o wrap aconteça , tipo o min-width */
  margin: 0 10px;
}

.sobre-info h1 {
  font-size: 3em; /* 48px */
  margin-bottom: .5em;
}

.sobre-info p {
  font-size: 1.25em; /* 20px */
  line-height: 1.4em;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.sobre-img { 
  flex: 1 1 160px; /* basis 160px, valor minimo para que o wrap aconteça , tipo o min-width */
  margin: 0 10px;
}

/* Produtos */
.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos h1 {
  font-size: 3em; /* 48px */
  margin: 0 10px 60px 10px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos-item {
  flex: 1 1 175px; /* 175px limite para quebra, tipo o min-width */
  margin: 10px;
}

.produtos-item h2 {
  font-size: 3em; /* 48px */
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}

.purple { border-top: 8px solid #ae81ff; }
.pink { border-top: 8px solid #f9265e; }
.blue { border-top: 8px solid #66d9eb; }

/* Preco */

.preco {
  background: #f7f7f7;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.preco-item {
  flex: 1 1 260px; /* flex-basis: 260px tipo o min-width */
  border: 4px solid #fff;
  padding: 20px;
  margin: 10px;
  /* min-width: 260px; */ /* evitar bugs em navegadores que não aceitam bem o basis 0 do flexbox */
  /* Macete para min-width: sempre defina para menos de 260px+ou-300px , esse e o valor min que voce tem de largura de um mobile */
}

.preco-item h2 {
  font-size: 3em; /* 48px */
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}

.preco-item span {
  display: block;
  max-width: 300px;
  margin: 20px auto;
  font-size: 3em; /* 48px */
  text-align: center;
  font-weight: bold;
  padding: 10px 0 5px 0;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.preco-item sup {
  font-size: 1.5rem; /* 24px */
}

.preco-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em; /* 20px */
  font-style: italic;
  color: #7c7c7c;
}

.preco-item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.preco-item li::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: #2c70ff;
  border-radius: 50%;
}

.preco-item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25em; /* 36px */
  padding: 15px 0;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .preco {
    padding-left: 10px;
    padding-right: 10px;
  }
  .preco .preco-item:nth-child(3) {
    order: -2;
  }
  .preco .preco-item:nth-child(2) {
    order: -1;
  }
}

/* Qualidade */

.qualidade {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.qualidade-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.qualidade-item h2 {
  font-size: 2.25em; /* 36px */
  color: #a4a4a4;
  margin-bottom: 20px;
}

.qualidade-item h2::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}

.qualidade-item:nth-of-type(3n+1) h2::before { background: #ae81ff; }
.qualidade-item:nth-of-type(3n+2) h2::before { background: #f9265e; }
.qualidade-item:nth-of-type(3n+3) h2::before { background: #66d9eb; }

.qualidade-item p {
  font-size: 1.25em; /* 20px */
  line-height: 1.4;
  color: #7c7c7c;
}

/* Newsletter */

.newsletter {
  background: #f7f7f7;
  /* macete para alinhar container sem precisar de div dentro de div, ou margin 0 auto, e ainda assim pegar BG de ponta a ponta */
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;
}

.newsletter-info {
  flex: 1 1 260px;
  margin: 0 10px;
}

.newsletter-info h1 {
  font-size: 3em; /* 48px */
  color: #a4a4a4;
}

.newsletter-info p {
  font-size: 1.25em; /* 20px */
  font-style: italic;
  max-width: 230px;
  color: #7c7c7c;
  margin-bottom: 10px;
}

.newsletter-form {
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-form input {
  flex: 3 1 260px;
  font-size: 1.25em; /* 20px */
  color: #7c7c7c;
  font-style: italic;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  border: 4px solid #2c70ff;
  background: transparent;
  padding: 10px;
  margin: 0; /* tem alguns navegadores que tem margin padrao para form/input, isso reseta */
  border-radius: 0; /* alguns navegadores colocam borda arredondada por padrao, isso reseta */
  padding: 15px 10px;
}

.newsletter-form button {
  flex: 1 1 260px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 2.25em; /* 36px */
  font-weight: bold;
  text-transform: uppercase;
  background: #2c70ff;
  border: none;
  color: #fff;
  margin: 0;
  cursor: pointer;
  padding: 15px 10px;
}

@media only screen and (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.5em;
  }
}

/* Footer */

.footer {
  height: 200px;
  background: #2c70ff;
  display: flex;
  align-items: center;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 2.25em; /* 36px */
  color: #122ab2;
}