[data-menu="button"] {
  display: none;
}

@media (max-width: 700px) {
  .js [data-menu="button"] {
    display: flex;
    background: #222;
    border: none;
    padding: .5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 99;
  }

  .js [data-menu="button"]::before {
    content: '';
    display: inline-block;
    margin-right: 4px;
    height: 2px;
    width: 12px;
    background: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
    transition: transform .3s;
  }

  .js [data-menu="button"].active::before {
    transform: rotate(90deg)
  }

  .js [data-menu="list"] {
    display: none;
    position: absolute;
    background: #fb5;
    top: 0;
    width: 160px;
    z-index: 9;
    padding: 60px 0 20px 0;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0, .2);
  }

  .js [data-menu="list"].active {
    display: block;
    animation: show-right .3s forwards;
  }

  .js .dropdown-menu {
    position: static;
    border: none;
  }
}