/* ------------------
	Geral Styles
--------------------*/
body{
	font-family: Arial, Helvetica, sans-serif;
}


/* ------------------
	Header - Cabeçalho
--------------------*/
.header{
	position: fixed;
	top: 0px;
	width: 100%;
	background: #fec63e;
	padding: 15px 0px;
}
.header_menu{
	text-align: right;	
}
.header_menu ul li{
	display: inline-block;
	margin-left: 25px;
	margin-top: 20px;
}
.header_menu ul li a{
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0px;	
}
.header_menu ul li a:hover{
	color: #fff;
}

/* ------------------
	Main - Introdução
--------------------*/