/* reset */
body, p, h1, h2, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #252525;
}

* {
  box-sizing: border-box;
}

/* Menu */
.header-informacoes {
  font-size: 0.875; /* 14px */
  background: #d6d3c8;
  padding: 5px 0;
  text-align: center;
}

.header-logo img {
  display: block;
  margin: 40px auto; 
}

.header-menu {
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
  text-align: center;
  margin-bottom: 40px;
  padding: 20px 0;
}

.header-menu ul li {
  display: inline-block;
}

.header-menu ul li a {
  display: block;
  padding: 5px 10px 5px 0;
  text-decoration: none;
  color: #252525;
  font-size: 1.125em; /* 18px */
}

.header-menu ul li a:hover {
  color: #000;
}

.header-menu ul li a::before {
  content: '•';
  padding-right: 10px;
}

.header-menu ul li:first-child a::before {
  content: '';
}

/* Conteudo */
.container {
  max-width: 960px;
  margin: 0 auto;
}

.container::before, .container::after {
  content: '';
  display: table;
  clear: both;
}

@media only screen and (min-width: 740px) and (max-width: 980px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 739px) {
  .container {
    max-width: 300px;
  }
}

/* Filtro */
.filtro {
  background: #e7e4d8;
  border: 3px solid #d6d3c8;
  width: 300px;
  margin: 0 10px;
  padding: 20px;
  float: left;
}

@media only screen and (min-width: 740px) and (max-width: 980px) {
  .filtro {
    width: 220px;
  }
}

@media only screen and (max-width: 739px) {
  .filtro {
    display: none;
  }
}

.filtro h2 {
  font-size: 1.125em; /* 18px */
  padding: 10px 0;
}

.filtro ul {
  border-top: 3px solid #c0beb4;
  border-bottom: 3px solid #c0beb4;
  padding: 10px 0;
}

.filtro li {
  font-style: italic;
  font-size: 1.125em; /* 18px */
  line-height: 2;
}

.filtro li::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #c0beb4;
  float: right;
  margin-top: 5px;
}

.sabor {
  overflow: hidden;
}

.sabor span {
  text-indent: -200px; /* sumir o texto */
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle; /* alinhar ao centro verticalmente */
  background: currentColor;
}

.sabor-3{
  color: #492901;
  box-shadow: 20px 0 0 0,
              40px 0 0 0;
}

.sabor-4{
  color: #c17139;
  box-shadow: 20px 0 0 0,
              40px 0 0 0,
              60px 0 0 0;
}

.sabor-5{
  color: #c7a54d;
  box-shadow: 20px 0 0 0,
              40px 0 0 0,
              60px 0 0 0,
              80px 0 0 0;
}

/* Produtos */
.produtos {
  width: 620px;
  margin: 0 10px;
  float: left;
}

.produtos h1 {
  font-size: 3em; /* 48px */
  font-weight: normal;
}

.produtos li {
  width: 300px;
  float: left;
}

.produtos li:nth-child(even) {
  margin-left: 20px;
}

.produtos li img {
  display: block;
  max-width: 100%;
  border: 3px solid #fff;
  box-shadow: 0 0 0 3px #252525;
  margin: 40px 3px 0 3px;
}

.produtos li span {
  background: #e7e4d8;
  padding: 10px;
  font-size: 0.875em; /* 14px */
  font-weight: bold;
  position: relative;
  top: -15px;
}

.produtos li h2 {
  font-size: 0.875em; /* 14px */
  font-weight: normal;
}

@media only screen and (min-width: 740px) and (max-width: 980px) {
  .produtos {
    width: 460px;
  }
  .produtos li {
    width: 220px;
  }
}

@media only screen and (max-width: 739px) {
  .produtos {
    width: 300px;
  }

  .produtos li {
    width: 140px;
  }
}

/* footer */
.footer {
  background: #e7e4d8;
  text-align: center;
  padding: 60px 0;
  font-size: 1.125em; /* 18px */
  line-height: 1.4em;
  margin-top: 80px;
}